.App-content-home{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.info-text{
    text-align:start;
    padding:10px;
}

.most-played-info{
    display:flex;
    flex-direction:row;
}