.App-content-main{
    background-color: #ffffff;
    height: 100vh;
    display:flex;
    flex-direction:row;
    overflow-y:hidden;
}

.display-pane{
    width: 100%;
    height:auto;
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    color:black;
    background-color: white;
/*    background: #13161f;*/
    padding:15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}