.modal-header{
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
}

.modal-header > .exit{
    position: absolute;
    right: 25px;
}

.exit:hover{
    outline:2px solid black;
    cursor:pointer;
}

.editable-text{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.editable-text-icon:hover{
    cursor: pointer;
}

#edit-icon{
    color:blue;
}

#done-icon{
    color:green;
}

#cancel-icon{
    color:red;
}