.container{
    display:flex;
    width:100%;
}

.inner-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-left:2em;
    margin-right:2em;
}

.fw{
    width:100%
}

.w50{
    width:50%;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.bt-thin{
    border-top: 1px solid grey;
    padding-top:2em;
}

.mb-10{
    margin-bottom:10px;
}

.bold{
    font-weight:bold;
}

.italic{
    font-style: italic;
}

.modal-header{
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
}

.modal-header > .exit{
    position: absolute;
    right: 25px;
}

.exit:hover{
    outline:2px solid black;
    cursor:pointer;
}

.editable-text{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.editable-text-icon:hover{
    cursor: pointer;
}

#edit-icon{
/*    color:blue;*/
}

#done-icon{
    color:green;
}

#cancel-icon{
    color:red;
}

#textbox{
    resize:none;
    border:none;
    width: 100%;
    box-sizing: border-box;
    font-size:18px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    padding:15px;
    outline: 2px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px 4px 0px 0px;
}

#textbox:focus-visible{
    border:none;
    outline: 2px solid #1976d2;
    border-radius: 4px 4px 0px 0px;
}

.textbox-unfocused{
    outline:2px solid rgba(0, 0, 0, 0.23);
    border-radius: 0px 0px 4px 4px;
    box-sizing:border-box;
}

.textbox-focused{
    box-sizing:border-box;
    outline: 2px solid #1976d2;
    padding: 0px;
    border-radius: 0px 0px 4px 4px;
}

.enabled{
    background-color: rgba(0, 0, 0, 0.23);
}

.textbox-control-icon:hover{
    background-color:rgba(0, 0, 0, 0.23);
    cursor: pointer;
}