.App-toolbar{
    min-height: 8vh;
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content: right;
    vertical-align: middle;
    width:100%;
}

.App-toolbar-header{
    font-size: 32px;
    font-weight: bold;
    min-width: 70vw;
    text-align:left;
    margin-left:25px;
}
.btn-container{
    width:30%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btn-container > img {
    width:52px;
    cursor: pointer;
}