.notes-section{
    display:flex;
    flex-direction:column;
    min-height:40%;
    /* width: calc(100vw - 8vw); */
}

.notes-section > h1{
    font-size:24px;
}

.notes-input{
    height:100%;
    padding:12px;
    margin:12px;
    border-radius:4px;
    font-size:24px;
    border:2px solid black;
    /* border-left:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black; */
}

.notes-btns > Button{
    margin:10px;
    background-color: #04AA6D;
}

.note-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.note-card:hover{
    cursor: pointer;
    transform: translate3d(5px, -5px, 5px);
}