.hidden{
	display:none;
}

.video-player-overlay{
/*	width:1440px;*/
}

.video-player-container{
	display:grid;
	align-items: end;
/*	width:100%;*/
}

.video-player-container > *{
	grid-column: 1;
	grid-row: 1;
}

#recording-video-player{
	z-index:1;
	width:100%;
}

#video-controls{
	z-index:12;
	color:white;
}

.video-control-buttons{
	height:32px;
	display:flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
	padding-bottom:10px;
	padding-left:10px;
}

.control-group{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	width:35%;
}

#progress-bar{
	width:100%;
	margin-bottom:20px;
}

#progress-bar:hover{
	cursor: pointer;
}

.video-player-icon{
	transform: scale(2.5);
}

.video-player-icon:hover{
	cursor: pointer;
}

#volume-up{
	cursor: pointer;
}

#volume-down{
	cursor: pointer;
}

#annotation-container{
	display: flex;
	flex-direction: row;
	width:25%;
}

#add-annotation > input{
	width:25%;
}