.recordings-container{
	display:grid;
	grid-template-columns: auto auto auto;
	padding-left:8%;
}

.recording{
	display:flex;
	flex-direction: column;
	width:350px;
	height:auto;
	margin: 5% 2% 0% 0%;
}

.recording-thumbnail{
	border-radius:5%;
	cursor: pointer;
}

.recording-text{
	font-size:13px;
	color: #98989a;
}

.recordings-controls{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 2% 0% 2% 0%
}

.recording-player{
	color:black;
	background-color:white;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}

#record-button{

	background-color: #EB7C79;
/*	background: linear-gradient(90deg, hsla(146, 81%, 68%, 1) 0%, hsla(136, 56%, 41%, 1) 100%, hsla(232, 75%, 69%, 1) 100%);*/
}

#upload-button{
	background: linear-gradient(90deg, hsla(287, 62%, 80%, 1) 0%, hsla(293, 98%, 48%, 1) 100%);
}

#search-button{
	background: linear-gradient(90deg, hsla(216, 82%, 68%, 1) 0%, hsla(235, 82%, 51%, 1) 100%, hsla(232, 75%, 69%, 1) 100%);
}