.App-content-match-info{
    display:flex;
    flex-direction:column;
    width: 50%;
    color:white;
}

.small{
    height:50px;
    max-height:50px;
    width:100%;
    display:flex;
    flex-direction:row;
    font-weight:bold;
    align-items:center;
    justify-content:space-between;
    color:black;
}


.full{
    flex: 0 1 auto;
    height:100%;
    width: 100%;
}

.Win{
    /*outline:2px solid #075ce6;*/
    background-color: #73F09E;
    /* background: #64c4ed;  */
    /* background: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(255, 255, 255) 0%, rgb(215, 223, 252) 84%); */
}

.Win:hover{
    outline:5px solid #58B87A;
}

.Loss{
    /*background-color: #e84057;*/
    /* background: #ff6473;  */
    /*outline:2px solid #e00b0b;*/
    background:#F08380;
}

.Loss:hover{
    outline: 5px solid #B86461;
}

a:hover{
    text-decoration:none;
}

.champ-matchup{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
    padding-top:10px;
}

.section-header{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    /* border-bottom: 2px solid black; */
}

.hidden{
    display:none !important;
}

.visible{
    display:block;
}

.match-info-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height:100px;
    max-height: 100px;
    outline:2px solid red;
    margin-bottom:1rem;
}

.match-info-img{
    width:32px;
    max-height: 32px;
}

.champ-img{
    width: 64px;
    max-height:68px;
    border-radius: 50%;
}

.champion-info{
    margin-right:2rem;
}

.items{
    margin-top:4px;
}